<div class="w3-container w3-blue w3-bar">
  <h1>Archive</h1>
</div>
<div class="w3-container w3-margin">
  <div *ngIf="projects">
    <table class="w3-table w3-bordered w3-border">
      <ng-template ngFor let-project [ngForOf]="projects">
        <tr>
          <th (click)="project.dataShown = !project.dataShown" class="w3-button w3-block w3-left-align w3-black w3-text-white" colspan="4">
            {{project.projectName}}
            <!-- Archive project -->
            <a href="#/archive" class="w3-right w3-text-yellow fa fa-archive"></a>
            <a href="#/archive" class="w3-right w3-text-red w3-margin-right fa fa-trash" (click)="deleteProject(project)"></a>
            <a href="#/archive" class="w3-right w3-text-green w3-margin-right fa fa-gear" (click)="editProject(project, editProjectModal)"></a>
          </th>
        </tr>
        <tr class="w3-light-grey" *ngIf="project.dataShown">
          <th>Task Name</th>
          <th>Task Status</th>
          <th colspan="2">Due Date</th>
        </tr>
        <ng-template [ngIf]="project.dataShown"><!-- Only display data if project is extended -->
          <ng-template ngFor let-task [ngForOf]="project.tasks">
            <ng-template [ngIf]="task.isArchived"> <!-- Only show archived tasks -->
              <tr appTaskHighlighter [date]="task.dueDate" [status]="task.status">
                <td>{{task.name}}</td>
                <td>{{task.status | statusFormatter}}</td>
                <td>{{task.dueDate | date:"dd/MM/y"}}</td>
                <td class="w3-right-align">
                  <a href="#/archive" class="w3-hoverable w3-text-green w3-margin-right fa fa-gear" (click)="editTask(task, editTaskModal)"></a>
                  <a href="#/archive" class="w3-hoverable w3-text-dark-grey w3-margin-right fa fa-trash" (click)="deleteTask(task, project)"></a>
                  <!-- Archive task -->
                  <a href="#/archive" class="w3-hoverable w3-text-yellow fa fa-undo" (click)="unarchiveTask(task)"></a>
                </td>
              </tr>
            </ng-template>
          </ng-template>
        </ng-template>
      </ng-template>
    </table>
  </div>
</div>

<div #editTaskModal class="w3-modal">
  <div class="w3-modal-content">
    <span (click)="closeTaskEditor(editTaskModal)" class="w3-button w3-display-topright fa fa-close"></span>
    <app-task-editor *ngIf="selectedTask" [task]="selectedTask"></app-task-editor>
  </div>
</div>

<div #editProjectModal class="w3-modal">
  <div class="w3-modal-content">
    <span (click)="closeProjectEditor(editProjectModal)" class="w3-button w3-display-topright fa fa-close"></span>
    <app-edit-project *ngIf="selectedProject" [project]="selectedProject"></app-edit-project>
  </div>
</div>
